
<div class="scrollContainer ">
<div class="mainbox scrollTop">
    <input type="checkbox" id="check">
    <label for="check"><i class="fas fa-share"></i></label>
    <div class="media-icons">
      <a class="matomo_link" target="_blank" href="https://www.facebook.com/sharer.php?u={{url}}"><i class="fab fa-facebook"></i></a>
      <a class="matomo_link"  target="_blank" href="https://twitter.com/share?url={{url}}&text={{title | kwareTranslate}}"><i class="fab fa-twitter"></i></a>
      <a class="matomo_link"  target="_blank" href="https://www.linkedin.com/shareArticle?url={{url}}&title={{title | kwareTranslate }}"><i class="fab fa-linkedin-in"></i></a>
      <a  class="matomo_link"  target="_blank" href="https://pinterest.com/pin/create/bookmarklet/?url={{url}}&description={{title | kwareTranslate }}"><i class="fab fa-pinterest"></i></a>
      <a  class="matomo_link" target="_blank" href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=&su={{title | kwareTranslate}}&body='{{url}}+'&ui=2&tf=1&pli=1"><i class="far fa-envelope"></i></a>
      <a  class="matomo_link"  target="_blank" href="https://wa.me/?text={{title | kwareTranslate}} {{url}}"><i class="fab fa-whatsapp"></i></a>      

      
    </div >
  </div>

</div>